.demonstrator{
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    border-right: 2px solid black;
}

.italic{
    font-style: italic;
}

button{
    border-radius:5px;
    border: 1px solid black;
}

.activeBtn{
    background: green;
    color:white;
}

.inactiveBtn{
   background: green;
   color:white;
   display:none;
}

hr{
    border:1px solid black;
}

/*
for future selection issues

.everything{
    display: none;
}*/