.demonstrator{
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    border-right: 2px solid black;
}

.italic{
    font-style: italic;
}

button{
    border-radius:5px;
    border: 1px solid black;
}

.activeBtn{
    background: green;
    color:white;
}

.inactiveBtn{
   background: green;
   color:white;
   display:none;
}

hr{
    border:1px solid black;
}

.stepcount{
    border-radius:50%;
    font-size: 35px;
    border:2px solid black;
    width:50px;
    height:50px;
    margin: auto;
    padding:auto;
    text-align: center;
    vertical-align: middle;
    clear: both;
}

.explainer{
    font-size:15px;
    padding:2px 0px 15px 0px;
}

/*
for future selection issues

.everything{
    display: none;
}*/