.demonstrator{
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    border-right: 2px solid black;
}

.italic{
    font-style: italic;
}

button{
    border-radius:5px;
    border: 1px solid black;
}

